.container{
    display: flex;
    justify-content: space-between;
}

.box{
    display:grid;
    justify-items: center;
    align-items: end;
    width: 100%;
}

.signup{
    width: 100%;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.signup-box{
    width: 60%;
    padding: 2vw;
    background-color:#7950A0 ;
    border-radius: 2vw;
    text-align: center;
    margin-bottom: 4vw;
}
.signup-box h2 {
   color: #fff;
   margin-bottom: 2vw;
   font-size: 2vw;
}
.signup-box a {
    color: #fff;
    background-color: #1EC0CA;
    padding: 1vw;
}
.signup-box a:hover {
    color: #fff;
}
.signin form img {
    width: 8vw;
    height: auto;
}
.signin form h3 {
    margin:2vw 0;
    color: #1EC0CA;
    font-size: 2vw;
}
.signin form h3 {
    margin:2vw 0;
    color: #F37246;
}
.signin form a {
    margin:2vw 0;
    color: #1EC0CA;
    text-decoration: dotted underline;
}
.signin form input[type="submit"] {
    padding: 1vw 3vw;
    background-color: #1EC0CA;
    outline: none;
    border:none;
    border-radius:1vw;
    color: #fff;
    font-weight: bold;
    font-size:1.2vw
}
.alert li{
    color: red;
    font-size: 1.2vw;
}
.alert{
    margin-bottom: 2vw;
}
