header {
    background-color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container img {
    width: 128px;
}
@media (max-width: 992px) {
    header .container .list ul {
        display: none;
    }
}
header .list ul{
    display: flex;
}
header .list ul li {
    margin-left: 15px;
    font-size: 13px;
    cursor: pointer;
}
header .list ul li i {
    margin-right: 5px;
}
header button {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #02BED6;
    color: white;
}
header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
header .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}