

.news p {
    margin-bottom: 10px !important;
    padding-top: 0px !important;
    height: 70px !important;
    display: grid;
    overflow: hidden !important;
    font-size: 14px !important;
    text-align: center !important;
    align-items: center;
}

#about .description{
    display: grid;
    justify-items: center;
}
#about .description img{
    height: auto;
    margin: 1vw 4vw;

}
#about .description img:nth-of-type(1){
    width: 5vw;
    justify-self: start;
}
#about .description img:nth-of-type(2){
    width: 3vw;
    justify-self: end;
}

#about .description p{
    font-size: 1.4vw;
    margin: 1vw 0;
    padding: 0 4vw;
    text-align: justify;
    position: relative;
    font-weight: 600;
}



@media (max-width:800px) {

    #about .description img{
        margin: 40px 20px 20px 20px;
    }
    #about .description img:nth-of-type(1){
        width: 50px;
    }
    #about .description img:nth-of-type(2){
        width: 40px;
    }
    #about .description p{
        font-size: 18px;
        padding: 0 15px;
    }

}


#numbers{
    background-color: rgb(121 , 80 , 160);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "title slider";
    padding: 4vw 0 6vw 0;
    overflow-y: hidden;
    position: relative;
    width: 90%;
    border-radius: 40px;
    margin: 3vw auto;
}

#numbers .title{
   grid-area: title;
   display: grid;
   justify-items: center;
   align-items: center;
   width: 60%;
}

#numbers .title h1{
    font-size: 4vw;
    position: relative;
    color: #fff !important;
}
#numbers .title h1::after{
    content: "";
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2vh;
    background-color: #fff;
    border-radius: 20px;
}

#numbers .title a{
    justify-self: end;
    font-size: 2vw;
    color: #fff;
    border: 0.4vw solid #fff;
    border-radius: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-top: 3vw;
}
#numbers .title a img{
    width: 3.5vw;
    height: auto;
    margin: 0 1vw;
    transform: rotate(180deg);
}
html[lang="ar"] #numbers .title a img{
    transform: rotate(0deg);
}
#numbers .title .persons-icons{
    position: absolute;
    bottom: -10%;
    transform: translate(-50%,0);
    width: 20%;
    height: auto;
}
html[lang="ar"] #numbers .title .persons-icons{
    transform: translate(50%,0);
}

#numbers .title a:hover{
    color: #fff ;
}
#numbers .glide{
   grid-area: slider;
   width: 100%;
   display: grid;
}

#numbers .glide__slides{
  justify-items: center;
  align-items: center;
}

#numbers .glide__slide img{
    width: 6vw;
    height: auto;
    margin: auto;
}
#numbers .glide__slide p{
    font-size: 1.4vw;
    margin: auto;
    text-align: center;
    color: #fff;
}
#numbers .glide__slide span{
    font-size: 1.4vw;
    margin: 1vw auto;
    color: #fff;
}

#numbers .glide__bullets {
    bottom: -20% !important;
}

#numbers .glide__slide{
    display: grid;
    justify-content: center;
    text-align: center;
}


@media (max-width:800px) {
    #numbers{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "title" "slider";
        padding: 50px 0 120px 0;
        margin: 0px auto 60px auto;
    }

    #numbers .title{
       width: 90%;
    }

    #numbers .title h1{
        font-size: 35px;
    }

    #numbers .title h1::after{
        height: 10px;
    }

    #numbers .title a{
        font-size: 18px;
        border: 2px solid #fff;
        padding: 15px;
        justify-self: center;
        margin: 40px 0;
        border-radius: 100px;
    }
    #numbers .title a img{
        width: 40px;
        margin: 0 10px;
    }
    #numbers .title .persons-icons{
        bottom: -10%;
        transform: translate(-5%,0);
        width: 180px;
    }
    html[lang="ar"] #numbers .title .persons-icons{
        transform: translate(5%,0);
    }

    #numbers .glide__slide img{
        width: 100px;
        height: auto;
        margin: auto;
    }
    #numbers .glide__slide p{
        font-size: 18px;
    }
    #numbers .glide__slide span{
        font-size: 18px;
        margin: 10px auto;
    }

    #numbers .glide__bullets {
        bottom: -10% !important;
    }
}

#donation{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "description photo";
    padding: 4vw 0 8vw 0;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    margin: 3vw 0;
}

#donation .description{
    grid-area: description;
    background-color:#F37246;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 40px;
    padding: 5vw;
    position: relative;
    width: 102%;
}

#donation .description p{
    font-size: 1.4vw;
    color: #fff;
    text-align: justify;
}

#donation .description a{
    justify-self: end;
    font-size: 1.4vw;
    color: #fff;
    border: 0.4vw solid #fff;
    border-radius: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-top: 3vw;
}

#donation .description a img{
    width: 3vw;
    height: auto;
    margin: 0 1vw;
    transform: rotate(180deg);
}
html[lang="ar"] #donation .description a img{
    width: 3vw;
    height: auto;
    margin: 0 1vw;
    transform: rotate(0deg);
}

#donation .description .sen-with-image{
    position: absolute;
    bottom: -25%;
    transform: translate(-20%,0);
    width: 25vw;
    height: auto;
}
html[lang="ar"] #donation .description .sen-with-image{
    transform: translate(20%,0);
}

#donation .photo{
    grid-area: photo;
    border-top: 1vw solid #fff;
    border-bottom: 1vw solid #fff;
    border-left: 1vw solid #fff;
    width: 100%;
    height: auto;
    transform: translate(-5%,0);
    border-radius: 10vw 4vw 4vw 5.3vw;
}

html[lang="ar"] #donation .photo{
    border-top: 1vw solid #fff;
    border-bottom: 1vw solid #fff;
    border-right: 1vw solid #fff;
    transform: translate(5%,0);
    border-radius: 4vw 10vw 5.3vw  4vw;
}

#donation .photo img{
    width: 120%;
    height: 100%;
    border-radius: 9vw 3vw 3vw 3vw;
}


html[lang="ar"] #donation .photo img{
    border-radius: 3vw 9vw 3vw 3vw;
}

@media (max-width:800px) {
    #donation{
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        grid-template-areas: "photo" "description";
        padding: 40px 0 20px 0;
        margin: 50px 0;
        justify-items: center;
        align-self: start;
        overflow: hidden;
    }

    #donation .description{
        padding: 20px 30px;
        width: 90%;
    }

    #donation .description p{
        font-size: 18px;
    }

    #donation .description a{
        font-size: 18px;
        border: 2px solid #fff;
        padding: 15px;
        justify-self: center;
        margin: 40px 0;
        border-radius: 100px;
    }

    #donation .description a img{
        width: 40%;
        margin: 0 20px;
    }

    html[lang="ar"] #donation .description a img{
        width: 30px;
        margin: 0 10px;
    }

    #donation .description .sen-with-image{
        bottom: -0%;
        transform: translate(20%,0) rotate(45deg);
        width: 40%;
        left: 0;
    }
    html[lang="ar"] #donation .description .sen-with-image{
        transform: translate(-20%,0) rotate(45deg);
    }

    #donation .photo{
        grid-area: photo;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-left: 5px solid #fff;
        width:90%;
        transform: translate(0%);
        border-radius: 40px;
    }

    html[lang="ar"] #donation .photo{
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: translate(0%);
        border-radius: 40px;
    }

    #donation .photo img{
        width: 100%;
        height: auto;
        border-radius: 40px;
    }


    html[lang="ar"] #donation .photo img{
        border-radius: 40px;
    }
}


#services .types {
    display: flex;
    justify-content: space-evenly;
    padding: 4vw;
    flex-wrap: wrap;
}

#services .types .service {
    width: 35vw;
    height: 50vh;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 1;
    margin: 2vw 0;
    border-radius: 2vw;
}
#services .types .service h1 {
    color: #fff;
    font-size: 3vw;
    align-self: end;
    padding: 1vw;
    text-align: center;
}
#services .types .service a{
    color:#fff;
    font-size: 1.8vw;
    padding: 1vw;
    align-self: start;
}
#services .types .service:nth-of-type(1) a{
    background-color: #43b6499a;
}
#services .types .service:nth-of-type(2) a{
    background-color: #ffd9009a;
}
#services .types .service:nth-of-type(3) a{
    background-color: #f3714699;
}
#services .types .service:nth-of-type(4) a{
    background-color: #1ebfc89b;
}
#services .types .service:nth-of-type(5) a{
    background-color: #43b6499a;
}
#services .types .service:nth-of-type(6) a{
    background-color: #ffd9009a;
}
#services .types .service:nth-of-type(7) a{
    background-color: #f3714699;
}
#services .types .service:nth-of-type(8) a{
    background-color: #1ebfc89b;
}
#services .types .service::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #001b339b;
    border-radius: 2vw;
    z-index: -1;
}


@media (max-width:800px) {

    #services .types {
        padding: 4vw;
    }
    #services .types .service {
        width: 260px;
        height: 350px;
        margin: 20px;
        border-radius: 20px;
    }
    #services .types .service h1 {
        font-size: 25px;
        padding: 1vw 0;
        text-align: center;
    }
    #services .types .service a{
        font-size: 18px;
        padding: 10px;
    }
    #services .types .service::after{
        border-radius: 20px;
    }
}

#media {
    width: 100%;
    height: auto;
    background-color:#001A31;
    overflow: hidden;
    padding: 0 5vw;
}
#media .title{
    padding:10vw 0 2vw;
    background-color: #1EC0CA;
    border: 2vw solid #fff;
    border-radius: 0 0 50vw 50vw;
    width: 70%;
    transform: translate(-20%, -40%);
}

html[lang="ar"] #media .title{
    transform: translate(20%, -40%);
}

#media .title h1{
    color: #fff;
    font-size: 4vw;
    text-align: center;
}

#media .content{
    display: grid;
    justify-items: center;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "news aside";
}
#media #news{
    grid-area: news;
    display: grid;
    justify-items: center;
    height: fit-content;
}
#media aside{
    grid-area: aside;
    width: 70%;
}
#media #news .title{
    padding:1vw;
    background-color: #1EC0CA;
    border: 0.4vw solid #fff;
    border-radius: 1vw;
    width: 40%;
    height: 5vw;
    transform: translate(0,0);
}

#media #news .title,#media #annuals .title,#media #newsletters .title,#media #campagins .title{
    padding:1vw;
    background-color: #1ec1ca6d;
    border: 0.4vw solid #fff;
    border-radius: 1vw;
    transform: translate(0,0);
}
#media #news .title{
    width: 40%;
}
#media #annuals .title,#media #newsletters .title,#media #campagins .title{
    width: 100%;
}

#media #news .title h1,#media #annuals .title h1,#media #newsletters .title h1,#media #campagins .title h1{
    font-size: 1.4vw;
}

#media #news .news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 2vw;
}

#media #news .new,#media #annuals .annual,#media #newsletters .newsletter,#media #campagins .campagin {
    margin: 1vw 0;
    border-radius: 2vw;
    display: grid;
    justify-items: center;
    align-items: center;
}
#media #annuals .annual,#media #newsletters .newsletter,#media #campagins .campagin {
    width: 100%;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    border: 0.4vw solid #fff;
    border-radius:2vw;
    padding: 2vw 0;
    position: relative;
    z-index: 1;
}
#media #annuals .annual::after, #media #newsletters .newsletter::after, #media #campagins .campagin::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #001b339b;
    border-radius: 2vw;
    z-index: -1;
}

#media #news .new{
    width: 50%;
    padding: 0 2vw;
}
#media #annuals .annual,#media #newsletters .newsletter,#media #campagins .campagin {
    width: 100%;
}
#media #news .new .image{
    width: 100%;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    border: 0.4vw solid #fff;
    border-radius:2vw
}
#media #news .new .image{
    height: 30vh;

}
#media #annuals .annual .image,#media #newsletters .newsletter .image,#media #campagins .campagin .image{
    height: 25vh;
}
#media #news .new h1,#media #annuals .annual h1,#media #newsletters .newsletter h1,#media #campagins .campagin h1{
    width: 90%;
    color:#fff;
    font-size: 1.4vw;
    margin: 1vw 0;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#media #news .new a,#media #annuals .annual a,#media #newsletters .newsletter a,#media #campagins .campagin a{
    color:#fff;
    background-color: #ffd9009b;
    padding: 1vw;
}
#media #news .new a{
    font-size: 1.8vw;
}
#media #annuals .annual a,#media #newsletters .newsletter a,#media #campagins .campagin a{
    font-size: 1.4vw;
}

#media #news .more, #media #annuals .more, #media #newsletters .more, #media #campagins .more{
    justify-self: end;
    font-size: 1.4vw;
    color: #fff;
    border: 0.4vw solid #fff;
    border-radius: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-bottom: 2vw;
}
#media #annuals .more, #media #newsletters .more, #media #campagins .more{
    width: 50%;
    margin: 2vw auto;
}


#media #news .more img, #media #annuals .more img, #media #newsletters .more img, #media #campagins .more img{
    width: 3vw;
    height: auto;
    margin: 0 1vw;
    transform: rotate(180deg);
}
html[lang="ar"] #media #news .more img,html[lang="ar"] #media #annuals .more img,html[lang="ar"] #media #newsletters .more img,html[lang="ar"] #media #campagins .more img{
    width: 3vw;
    height: auto;
    margin: 0 1vw;
    transform: rotate(0deg);
}

@media (max-width:800px) {
    #media {
        padding: 0 25px;
    }
    #media .title{
        padding:50px 0 20px;
        width: 100%;
    }
    #media .title h1{
        font-size: 25px;
    }
    #media .content{
        grid-template-columns: 100%;
        grid-template-rows: 65% 35%;
        grid-template-areas: "news" "aside";
        height: auto;
    }
    #media aside{
        width: 100%;
    }

    #media #news .title{
        padding:10px;
        height: 50px;
    }

    #media #news .title,#media #annuals .title,#media #newsletters .title,#media #campagins .title{
        padding:10px;
    }
    #media #news .title{
        width: 60%;
    }
    #media #annuals .title,#media #newsletters .title,#media #campagins .title{
        width: 100%;
    }

    #media #news .title h1,#media #annuals .title h1,#media #newsletters .title h1,#media #campagins .title h1{
        font-size: 18px;
    }


    #media #news .new,#media #annuals .annual,#media #newsletters .newsletter,#media #campagins .campagin {
        margin: 20px 0;
    }
    #media #annuals .annual,#media #newsletters .newsletter,#media #campagins .campagin {
        padding: 20px 0;
    }

    #media #news .new{
        width: 100%;
        padding: 0 20px;
    }

    #media #news .new .image{
        height: 250px;

    }
    #media #annuals .annual .image,#media #newsletters .newsletter .image,#media #campagins .campagin .image{
        height: 250px;
    }
    #media #news .new h1,#media #annuals .annual h1,#media #newsletters .newsletter h1,#media #campagins .campagin h1{
        width: 90%;
        font-size: 18px;
        margin: 20px 0;
        line-height: 50px;
    }
    #media #news .new a,#media #annuals .annual a,#media #newsletters .newsletter a,#media #campagins .campagin a{
        padding: 10px 20px;
    }
    #media #news .new a{
        font-size: 22px;
    }
    #media #annuals .annual a,#media #newsletters .newsletter a,#media #campagins .campagin a{
        font-size: 18px;
    }

    #media #news .more, #media #annuals .more, #media #newsletters .more, #media #campagins .more{
        font-size: 18px;
        padding: 10px;
        margin-bottom: 40px;
    }
    #media #annuals .more, #media #newsletters .more, #media #campagins .more{
        width: 60%;
        margin: 20px auto;
    }

    #media #news .more img, #media #annuals .more img, #media #newsletters .more img, #media #campagins .more img{
        width: 40px;
        margin: 0 20px;
    }

    html[lang="ar"] #media #news .more img,html[lang="ar"] #media #annuals .more img,html[lang="ar"] #media #newsletters .more img,html[lang="ar"] #media #campagins .more img{
        width: 40px;
        margin: 0 20px;
    }

}

#partners .partners{
    margin: 4vw 0;
 }

#partners .partners img{
   width: 200px;
   height: auto;
}

#partners .partners .glide__track{
    width:60%;
    margin: auto;
}

#partners .partners span{
    width: 20%;
    height: auto;
}
#partners .partners .yellowCircle{
    border:4vw solid #f7e32c9b;
    border-radius:100%;
    background-color:#fff;
    transform: translate(35%,0%);
}
#partners .partners .blueCircle{
    border:4vw solid #001b339a;
    border-radius:100%;
    background-color:#fff;
    transform: translate(-35%,0%);
}
#partners .partners {
    display: flex;
    overflow: hidden;
}
