:root {
    --blue-color: #3ec1ce;
    --grey-color: #58585b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* end Global */
/* Start Section */
section .container .title {
    height: 67.865px;
    display: flex;
    align-items: flex-end;
}
section .container .title ul {
    display: flex;
}
section .container .title ul li {
    margin-left: 10px;
}
section .container .title ul li a {
    font-size: 16px;
    font-weight: bold;
    color: var(--grey-color);
}
section .container .title ul li a:hover {
    color: #3ec1ce;
}
section .container .title ul li p {
    font-size: 16px;
    font-weight: bold;
    color: #3ec1ce;
}
section .container .box .paragraph {
    margin: 30px 20px 50px;
}
section .container .box .paragraph p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    color: var(--grey-color);
}
section .container .box .image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 1768px;
}
section .container .box .image-box img {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}
section .container .box .image-box img {
    margin: 50px 30px;
}
/* Start Queries */
@media (max-width: 767px) {
}